In [1]:
import pandas as pd
df=pd.read_csv('drug200.csv')

In [2]:
df.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug
0   23   F  HIGH        HIGH   25.355  DrugY
1   47   M   LOW        HIGH   13.093  drugC

In [3]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['DrugY', 'drugC', 'drugX', 'drugA', 'drugB']])
df['Drug']=oe.fit_transform(df[['Drug']])

In [4]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
one.fit_transform(df[['Sex']])
a=pd.DataFrame(data=one.fit_transform(df[['Sex']]).toarray(),columns=one.get_feature_names_out())

In [5]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
one.fit_transform(df[['BP']])
b=pd.DataFrame(data=one.fit_transform(df[['BP']]).toarray(),columns=one.get_feature_names_out())

In [6]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
one.fit_transform(df[['Cholesterol']])
c=pd.DataFrame(data=one.fit_transform(df[['Cholesterol']]).toarray(),columns=one.get_feature_names_out())

In [7]:
df=pd.concat([df,a,b,c],axis=1)

In [8]:
df.drop(['Sex','BP','Cholesterol'],axis=1,inplace=True)

In [9]:
df.head(2)

,Age,Na_to_K,Drug,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,47,13.093,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [10]:
x=df.drop('Drug',axis=1)
y=df.Drug

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.20)

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [13]:
ss=StandardScaler()
X_train_ss=ss.fit_transform(X_train)
X_test_ss=ss.transform(X_test)

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [15]:
model=[LogisticRegression(),DecisionTreeClassifier(),SVC(),RandomForestClassifier(),GradientBoostingClassifier(),GaussianNB(),KNeighborsClassifier()]

In [16]:
for i in model:
    k=i
    k.fit(X_train_ss,y_train)
    y_pred=k.predict(X_test_ss)
    print(accuracy_score(y_test,y_pred))
    print(confusion_matrix(y_test,y_pred))
    print('888888')

1.0
[[19  0  0  0  0]
 [ 0  3  0  0  0]
 [ 0  0 14  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888
1.0
[[19  0  0  0  0]
 [ 0  3  0  0  0]
 [ 0  0 14  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888
0.925
[[16  1  2  0  0]
 [ 0  3  0  0  0]
 [ 0  0 14  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888
1.0
[[19  0  0  0  0]
 [ 0  3  0  0  0]
 [ 0  0 14  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888
0.975
[[19  0  0  0  0]
 [ 0  2  1  0  0]
 [ 0  0 14  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888
0.675
[[ 6  3  5  4  1]
 [ 0  3  0  0  0]
 [ 0  0 14  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888
0.725
[[12  1  4  1  1]
 [ 0  3  0  0  0]
 [ 4  0 10  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0  1]]
888888

In [17]:
lr=LogisticRegression()
lr.fit(X_train_ss,y_train)
y_pred1=lr.predict(X_test_ss)

In [18]:
y_pred1

array([1., 2., 0., 0., 0., 2., 2., 2., 0., 2., 3., 0., 0., 0., 4., 1., 0.,
       0., 2., 0., 0., 2., 2., 2., 0., 0., 0., 0., 0., 2., 2., 1., 3., 2.,
       0., 0., 2., 0., 3., 2.])

In [28]:
df.iloc[66:67,:]

,Age,Na_to_K,Drug,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
66,29,12.856,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

In [29]:
X_train.iloc[1:2,:]

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
66,29,12.856,0.0,1.0,1.0,0.0,0.0,1.0,0.0

In [30]:
v=X_train.iloc[1:2,:]

In [31]:
p=ss.transform(v)
lr.predict(p)

array([3.])

In [32]:
import pickle as pkl
pkl.dump(ss,open('standard drugs','wb'))
pkl.dump(lr,open('model of drugs','wb'))